#page1{
    background-color: rgb(255, 255, 255);

}
.para1{
    line-height: 55px;
    color:rgb(255, 255, 255);
    font-size: 27px;
}
#titre{
    background-color: chocolate;
}
.aspiration{
    color:chocolate;
    font-size: 38px;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

#videoarr{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
body {
    margin: 0;
    padding: 0;
}

/* Style de la classe "onglet" */
.onglet {
    display: flex;
    justify-content: space-around;
    color: red;
    padding: 10px 0;
    background-color:burlywood;
}

/* Style des titres h1 à l'intérieur de la classe "onglet" */
.onglet h1 {
    margin: 0;
    
}